@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:400,700&display=swap&subset=japanese');

body{
    font-family: 'M PLUS 1p', ;
}
.offset::before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
  }

header{
    font-weight: 700;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.wrap{
    overflow:hidden;
}

.nav-menu li {
    list-style: none;
  }
.nav-menu li a{
    color: white;
}
.nav-menu li a:hover{
    text-decoration: none;
    color: rgb(255, 136, 0);
}

.nav-top{
    background-color: rgba(255, 255, 255, 0.7);
    height: 4rem;
    margin: 0 auto;
}

.nav-top a{
    text-decoration: none;
    color: #222;
    font-size: 2.5rem;
    margin: 0.8rem;
}


.header-logo-menu{
    display: flex;
    float: right;
}

#nav-drawer {
    display:none;
  }

span{
    color: rgb(255, 136, 0);
}

.nav-menu{
    background-color: rgba(2, 2, 2, 0.8);
    display: block;
    height: 3.5rem;
}

.nav-menu ul{
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.nav-menu li{
    margin: .6rem auto;
}

.btn-sm{
    width: 6rem;
    font-weight: 700;
    color: white;
    border: .2rem solid #fff;
    border-radius: 0;
}

.btn-sm:hover{
    background-color: #fff;
    color: rgb(255, 136, 0);
    border-color: #fff;

}

.landing{
    height: 40rem;
    background-image: url(img/background.jpg);
    background-size: cover;
}

.caption{

    width: 100%;
    max-width: 100%;
    position: absolute;
    top:38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
  }
  .caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
  }
  .caption h3{
    font-style: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: .6rem;
  }
  .btn-lg{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    margin-top: 1.6rem;
    font-size: 1.1rem;
  }
  .narrow{
    width: 75%;
    margin: 1.8rem auto;
    padding-top: 2rem;
  }
  .narrow h1{
    font-size: 2.4rem;
  }

  hr{
      width: 100%;
      border: .1rem solid rgb(255, 136, 0);
      margin-bottom: 0;
  }

  .jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
  }
  h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
  }
  .heading-underline{
    width: 3rem;
    height: .2rem;
    background-color:rgb(255, 136, 0);
    margin: 0 auto 2rem;
  }
  .feature svg.svg-inline--fa{
    color: rgb(255, 136, 0)
  }
  .feature h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
  }
  .feature p{
    font-size: 1.1rem;
  }
  
  .col-md-4{
      margin-top: 3rem;
  }


  .dark{
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 7rem 2rem;
  }
  .fixed-background h3{
    margin-bottom: 2rem;
  }
  .fixed-background p{
    margin-top: 1.5rem;
  }

  footer{
    background-color: #40474e;
    color: white;
    height: 3rem;
    text-align: center;
  }

.nav-drawer{
    display: none;
}

  #nav-drawer {
    position: relative;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  
  /*ハンバーガーの形をCSSで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  /*閉じる用の薄黒箇所*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*メニューの中身*/
  #nav-content {
    display: flex;
    overflow: auto;
    position: fixed;
    top: 4rem;
    left: 0;
    z-index: 5000;
    width: 100%;
    max-width: 90%;/*最大幅（お好みで調整を）*/
    height: 8%;
    background: #222;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
  }
  
  #nav-content li{
      list-style: none;
      margin: 0 auto;
      margin-top: 1rem;
  }
  #nav-content li a{
    color: white;
    font-size: .9rem;
}

#nav-content li a:hover{
    color: rgb(255, 136, 0);
}

  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  
  .header-logo-menu{
    margin: 1.5rem;
   display: flex;
   flex-direction: row;
   -moz-flex-direction: row;
   -o-flex-direction: row;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
  }

@media (max-width:767px){
  .nav-menu{
      display: none;    
  }

  #nav-drawer {
    display:block;
  }
  .caption h1{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
  }
  .caption h3{
    font-size: 1.6rem;
    padding-bottom: .6rem;
  }

  .lead{
      font-size: 1.3rem;
  }
  .narrow h1{
    font-size: 1.2rem;
    font-weight: 700;
  }
  
}
