body{
    font-family: "Hiragino Kaku Gothic ProN";
}

li {
    list-style: none;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p,
  form, input, div {
    margin: 0;
    padding: 0;
  }

  header{
      height:90px;
      border-bottom: 10px solid #333;
      padding-left: 40px;
  }
  
a{
    text-decoration: none;
}

  .header-logo{
      font-size: 90px;
      color:#333;
  }

  .contents{
    margin: 50px;
    display: flex;
  }

  .profile{
      background-color: darkcyan;
      width: 400px;
      height: 200px;
      border:5px solid #333;
      padding: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      box-shadow:4px 4px 2px 2px gray;
      display: flex;
  }

  .profile img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .profile p{
    color:#efefef;
    padding: 20px 20px 20px 40px;
  }

  .twitter{
    background-color:rgb(0, 68, 255);
    width: 165px;
    height: 60px;
    border:5px solid #333;
    box-shadow:4px 4px 2px 2px gray;
    display: flex;
    }

    .twitter:hover{
        background-color:rgb(124, 159, 255);
    }

.sns-link p{
    color: #efefef;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.instagram{
    background-color:rgb(255, 0, 170);
    width: 165px;
    height: 60px;
    border:5px solid #333;
    box-shadow:4px 4px 2px 2px gray;
    display: flex;
}

.instagram:hover{
    background-color:rgb(255, 124, 211);
}

.sns-link i{
    color:white;
    font-size: 50px;
}

.contents-hp{
    background-color:rgb(255, 153, 0);
    width: 300px;
    height: 330px;
    border:5px solid #333;
    padding: 20px; 
    margin-right: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow:4px 4px 2px 2px gray;
}

.contents-hp:hover{
    background-color:rgb(255, 202, 122);
}

.contents-app{
    background-color:rgb(255, 0, 0);
    width: 300px;
    height: 330px;
    border:5px solid #333;
    padding: 20px; 
    margin-bottom: 20px;
    box-shadow:4px 4px 2px 2px gray;
}

.contents-app:hover{
    background-color:rgb(255, 118, 118);
}



.contents-right img{
    height: 200px;
    width: 200px;
    margin:10px 0px 50px 50px;
}

.contents-right p{
    font-size: 30px;
    color: #efefef;
    text-align: center;
}

footer{
    padding: 10px;
    height: 20px;
    color: #666;
    text-align: center;border-top: 2px solid #333;

}
